{% extends "layout.html" %}

{% block title %}
    <title>Book Reviews App</title>
{% endblock %}

{% block body %}
      <h2>Book Review App</h2>

      <h5>WELCOME!</h5>
      <p></p>
      <h5>You should log in for making a search.</h5>

      <p></p>
      <p>In this web app you can search for books.</p>
      <p>There is some books info: </p>

      <ul>
        <li>Author</li>
        <li>Title</li>
        <li>Publication Year</li>
        <li>ISBN number</li>
      </ul>

      <p>You can also make some reviews! (just one per book)</p>

      <h5>Enjoy it!</h5>


{% endblock %}
